@charset "UTF-8";
/* Global variables */
/* ======================================================================== */
/* 1382/16 */
/* Grid */
/* ======================================================================== */
/* 20/16 */
/* Form */
/* ======================================================================== */
@import "../fonts/icon/style.css";
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Cormorant/Cormorant-Light.eot?") format("eot"), url("../fonts/Cormorant/Cormorant-Light.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Light.woff") format("woff"), url("../fonts/Cormorant/Cormorant-Light.ttf") format("truetype"), url('../fonts/Cormorant/Cormorant-Light.svg#str-replace("Cormorant", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Cormorant/Cormorant-Regular.eot?") format("eot"), url("../fonts/Cormorant/Cormorant-Regular.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Regular.woff") format("woff"), url("../fonts/Cormorant/Cormorant-Regular.ttf") format("truetype"), url('../fonts/Cormorant/Cormorant-Regular.svg#str-replace("Cormorant", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Cormorant/Cormorant-SemiBoldItalic.eot?") format("eot"), url("../fonts/Cormorant/Cormorant-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-SemiBoldItalic.woff") format("woff"), url("../fonts/Cormorant/Cormorant-SemiBoldItalic.ttf") format("truetype"), url('../fonts/Cormorant/Cormorant-SemiBoldItalic.svg#str-replace("Cormorant", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Cormorant/Cormorant-Italic.eot?") format("eot"), url("../fonts/Cormorant/Cormorant-Italic.woff2") format("woff2"), url("../fonts/Cormorant/Cormorant-Italic.woff") format("woff"), url("../fonts/Cormorant/Cormorant-Italic.ttf") format("truetype"), url('../fonts/Cormorant/Cormorant-Italic.svg#str-replace("Cormorant", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Vasek";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Vasek/Vasek-Italic.eot?") format("eot"), url("../fonts/Vasek/Vasek-Italic.woff2") format("woff2"), url("../fonts/Vasek/Vasek-Italic.woff") format("woff"), url("../fonts/Vasek/Vasek-Italic.ttf") format("truetype"), url('../fonts/Vasek/Vasek-Italic.svg#str-replace("Vasek", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Onest/Onest-Thin.eot?") format("eot"), url("../fonts/Onest/Onest-Thin.woff2") format("woff2"), url("../fonts/Onest/Onest-Thin.woff") format("woff"), url("../fonts/Onest/Onest-Thin.ttf") format("truetype"), url('../fonts/Onest/Onest-Thin.svg#str-replace("Onest", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Onest/Onest-Light.eot?") format("eot"), url("../fonts/Onest/Onest-Light.woff2") format("woff2"), url("../fonts/Onest/Onest-Light.woff") format("woff"), url("../fonts/Onest/Onest-Light.ttf") format("truetype"), url('../fonts/Onest/Onest-Light.svg#str-replace("Onest", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Onest/Onest-Regular.eot?") format("eot"), url("../fonts/Onest/Onest-Regular.woff2") format("woff2"), url("../fonts/Onest/Onest-Regular.woff") format("woff"), url("../fonts/Onest/Onest-Regular.ttf") format("truetype"), url('../fonts/Onest/Onest-Regular.svg#str-replace("Onest", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Onest/Onest-Medium.eot?") format("eot"), url("../fonts/Onest/Onest-Medium.woff2") format("woff2"), url("../fonts/Onest/Onest-Medium.woff") format("woff"), url("../fonts/Onest/Onest-Medium.ttf") format("truetype"), url('../fonts/Onest/Onest-Medium.svg#str-replace("Onest", " ", "_")') format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Onest/Onest-ExtraBold.eot?") format("eot"), url("../fonts/Onest/Onest-ExtraBold.woff2") format("woff2"), url("../fonts/Onest/Onest-ExtraBold.woff") format("woff"), url("../fonts/Onest/Onest-ExtraBold.ttf") format("truetype"), url('../fonts/Onest/Onest-ExtraBold.svg#str-replace("Onest", " ", "_")') format("svg");
  font-display: swap;
}
* {
  box-sizing: border-box;
}
*:after, *:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  position: relative;
  box-sizing: content-box;
}

.wrapper {
  min-height: 100%;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-size: 100%;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  transition: all 0.3s;
}
a:focus {
  outline: 0;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
  outline: 0;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

body {
  font-family: "Onest";
  color: #333333;
  line-height: 1.2;
  font-size: calc(.04444445 * 100vw + 0px);
  background-color: #F3F2F1;
}
@media (min-width: 768px) {
  body {
    font-size: calc(.008333334 * 100vw + 0px);
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  font-size: 1em;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
  flex-grow: 1;
}

.container_center, .footer__content, .header__content {
  max-width: 86.375em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.625em;
}
@media (min-width: 768px) {
  .container_center, .footer__content, .header__content {
    padding: 0 1em;
  }
}

.section {
  padding: 5em 0 7.5em;
}
.section__title {
  font-family: "Cormorant";
  font-weight: 300;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 0.95;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .section__title {
    text-align: left;
  }
}
.section__title span {
  font-size: 1.875em;
}
@media (min-width: 768px) {
  .section__title span {
    font-size: 4.625em;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none !important;
  }
}

.img img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.preloader__wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  opacity: 1;
  font-size: 0.75em;
}
.preloader__wrap.hide {
  opacity: 0;
}
@media (min-width: 501px) {
  .preloader__wrap {
    font-size: 1.25em;
  }
}

.content .loading {
  width: 5em;
  height: 3.125em;
  position: relative;
}
.content .loading p {
  top: 0;
  padding: 0;
  margin: 0;
  color: #333333;
  animation: text 3.5s ease both infinite;
  font-size: 0.75em;
  letter-spacing: 0.0625em;
}
@keyframes text {
  0% {
    letter-spacing: 0.0625em;
    transform: translateX(0);
  }
  40% {
    letter-spacing: 0.125em;
    transform: translateX(1.625em);
  }
  80% {
    letter-spacing: 0.0625em;
    transform: translateX(2em);
  }
  90% {
    letter-spacing: 0.125em;
    transform: translateX(0);
  }
  100% {
    letter-spacing: 0.0625em;
    transform: translateX(0);
  }
}
.content .loading span {
  background-color: rgba(32, 48, 64, 0.7);
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(4em);
  animation: loading 3.5s ease both infinite;
}
.content .loading span:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(32, 48, 64, 0.9);
  border-radius: inherit;
  animation: loading2 3.5s ease both infinite;
}
@keyframes loading {
  0% {
    width: 1em;
    transform: translateX(0);
  }
  40% {
    width: 100%;
    transform: translateX(0);
  }
  80% {
    width: 1em;
    transform: translateX(4em);
    /* 64/16 */
  }
  90% {
    width: 100%;
    transform: translateX(0);
  }
  100% {
    width: 1em;
    transform: translateX(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translateX(0);
    width: 1em;
  }
  40% {
    transform: translateX(0);
    width: 80%;
  }
  80% {
    width: 100%;
    transform: translateX(0);
  }
  90% {
    width: 80%;
    transform: translateX(0.9375em);
    /* 15/16 */
  }
  100% {
    transform: translateX(0);
    width: 1em;
  }
}

/* Header
 ----------------------------------------------------------------------------- */
/* Header
  ----------------------------------------------------------------------------- */
.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
  top: 0.625em;
}
@media (min-width: 768px) {
  .header {
    top: 1.5em;
  }
}
.header__content {
  margin: auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 75px 150px rgba(51, 51, 51, 0.05);
  border-radius: 2.1875em;
  padding: 0.3125em 0.3125em 0.3125em 1.375em;
}
@media (min-width: 768px) {
  .header__row {
    padding: 0.625em 1.5em 0.625em 0.625em;
  }
}
@media (min-width: 768px) {
  .header__col:nth-child(1) {
    order: 2;
    margin-left: -11em;
  }
  .header__col:nth-child(2) {
    order: 4;
  }
  .header__col:nth-child(3) {
    order: 3;
  }
  .header__col:nth-child(4) {
    order: 1;
  }
}
@media (min-width: 768px) {
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 24.375em;
  }
}
.header .logo__link {
  display: block;
  width: 4.375em;
  height: 3.125em;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  .header .logo__link {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .header .logo__label {
    display: flex;
    align-items: center;
  }
  .header .logo__label .logo__flag {
    flex: none;
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.625em;
  }
  .header .logo__label span {
    font-size: 0.875em;
  }
}
.header__nav {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  transition: left 0.5s;
  width: 100vw;
  padding: 1.25em 0.625em 6em;
  overflow-y: auto;
}
@media (min-width: 768px) {
  .header__nav {
    width: 39.5em;
    padding: 8.75em 1em 2em 18.5em;
    box-shadow: 0 75px 150px rgba(51, 51, 51, 0.1);
  }
}
.header__nav_open {
  left: 0;
}
.header__nav .logo {
  margin-bottom: 3.75em;
  margin-left: 1.375em;
}
.header__nav .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
@media (min-width: 768px) {
  .header__nav .menu {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}
.header__nav .menu-item {
  margin-bottom: 1.25em;
}
@media (min-width: 768px) {
  .header__nav .menu-item {
    margin-bottom: 1.5em;
  }
}
.header__nav .menu-item:last-child {
  margin-bottom: 0;
}
.header__nav .menu-item a {
  position: relative;
  text-decoration: none;
  color: #333333;
}
@media (min-width: 768px) {
  .header__nav .menu-item a {
    font-size: 1.1875em;
  }
}
.header__nav .menu-item a:after {
  content: "";
  position: absolute;
  bottom: -0.125em;
  left: 0;
  width: 100%;
  border-bottom: 0.0625em solid;
  border-color: rgba(51, 51, 51, 0.2);
  transition: 0.3s;
}
.header__nav .menu-item:hover a:after {
  border-color: #333333;
}
.header__nav .current-menu-item > a:after {
  border-color: #333333;
}
.header__nav .social {
  margin-top: 5em;
  flex-wrap: wrap;
  justify-content: center;
}
.header__nav .social .social__link:last-child {
  margin-top: 0.5em;
  width: 100%;
  text-align: center;
}
.header__nav .social .social__link:last-child .social__label {
  margin-right: 4.5em;
}

.hamburger {
  position: relative;
  z-index: 20;
  cursor: pointer;
}
.hamburger__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125em;
  height: 3.125em;
  border-radius: 100%;
  background-color: #F3F2F1;
  color: #333333;
  transition: 0.3s;
}
.hamburger__icon:before {
  content: "";
  font-family: "icon";
  font-size: 0.75em;
  transition: font-size 0.1s;
}
.hamburger_open .hamburger__icon:before {
  content: "";
  font-size: 1em;
}
.hamburger:hover .hamburger__icon {
  background-color: #333333;
  color: #ffffff;
}

@media (min-width: 768px) {
  .switch {
    display: flex;
  }
  .switch:hover .switch__label span:after, .switch:hover .switch__label span:before {
    color: #333333;
  }
  .switch__label {
    position: relative;
    display: inline-block;
    width: 5.625em;
    height: 3.125em;
    cursor: pointer;
  }
  .switch__label input {
    position: relative;
    z-index: 1;
    display: none;
  }
  .switch__label input:checked ~ span i {
    left: 2.75em;
  }
  .switch__label input:checked ~ span i:before {
    opacity: 0;
  }
  .switch__label input:checked ~ span i:after {
    opacity: 1;
  }
  .switch__label span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6.25em;
    background-color: #F3F2F1;
  }
  .switch__label span:after, .switch__label span:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-style: normal;
    font-size: 0.875em;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: rgba(51, 51, 51, 0.3);
    transition: color 0.3s;
  }
  .switch__label span:before {
    left: 1em;
    content: "RU";
  }
  .switch__label span:after {
    right: 1em;
    content: "EN";
  }
  .switch__label span i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.3125em;
    width: 2.5em;
    height: 2.5em;
    background-color: #ffffff;
    border-radius: 100%;
    transition: left 0.3s;
    z-index: 10;
  }
  .switch__label span i:after, .switch__label span i:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-size: 0.875em;
    font-weight: 500;
    transition: 0.3s;
    letter-spacing: 0.02em;
  }
  .switch__label span i:before {
    content: "RU";
    opacity: 1;
  }
  .switch__label span i:after {
    content: "EN";
    opacity: 0;
  }
}

.social {
  display: flex;
  align-items: center;
}
.social__link {
  text-decoration: none;
  color: #333333;
  margin: 0 0.2774em;
}
@media (min-width: 768px) {
  .social__link {
    margin: 0 0.5em;
  }
  .social__link:first-child {
    order: 1;
  }
  .social__link:hover i {
    transform: scale(1.2);
  }
  .social__link:hover i.icon_telegram, .social__link:hover i.icon_whatsapp {
    color: #333333;
  }
}
.social__number {
  letter-spacing: 0.02em;
}
.social__number span {
  font-weight: 500;
  font-size: 1.5em;
}
.social__label {
  margin-top: -0.4em;
  line-height: 1;
  text-align: right;
}
.social__label span {
  font-size: 0.625em;
}
.social i {
  display: block;
  transform: scale(1);
  transition: 0.3s;
}
.social i.icon_telegram {
  color: #34AEE4;
}
.social i.icon_whatsapp {
  color: #46AC54;
}
.social i:before {
  font-size: 1.875em;
}

.nav-open {
  overflow: hidden;
}

/* Footer
 ----------------------------------------------------------------------------- */
.footer {
  background-color: #203040;
  box-shadow: 0 75px 150px rgba(51, 51, 51, 0.05);
}
.footer__content {
  margin: auto;
  padding: 2.375em 1em 2.625em;
}
@media (min-width: 768px) {
  .footer__content {
    padding: 2.5em 1em;
  }
}
@media (min-width: 768px) {
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__row:first-child {
  margin-bottom: 3.5em;
}
@media (min-width: 768px) {
  .footer__row:first-child {
    margin-bottom: 5.625em;
  }
}
.footer__row:first-child .footer__col {
  margin-bottom: 3.5em;
}
.footer__row:first-child .footer__col:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer__row:first-child .footer__col {
    margin-bottom: 0;
  }
}
.footer__row:last-child .footer__col {
  margin-bottom: 0.25em;
}
.footer__row:last-child .footer__col:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer__row:last-child .footer__col {
    margin-bottom: 0;
  }
  .footer__row:last-child .footer__col:nth-child(2) {
    order: -1;
  }
}
.footer__col {
  text-align: center;
}
@media (min-width: 768px) {
  .footer__col {
    text-align: left;
  }
}
.footer__col > span,
.footer__col > a {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.625em;
}
@media (min-width: 768px) {
  .footer__col > span,
.footer__col > a {
    font-size: 0.875em;
  }
}
.footer__col > a {
  position: relative;
  text-decoration: none;
}
.footer__col > a:after {
  content: "";
  position: absolute;
  bottom: -0.0625em;
  left: 0;
  width: 100%;
  border-bottom: 0.0625em solid;
  border-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}
.footer__col > a:hover {
  color: #ffffff;
}
.footer .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .footer .menu {
    display: flex;
  }
}
.footer .menu .menu-item {
  text-transform: uppercase;
  margin-bottom: 1em;
}
.footer .menu .menu-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .footer .menu .menu-item {
    margin-bottom: 0;
    margin-right: 3.875em;
  }
  .footer .menu .menu-item:last-child {
    margin-right: 0;
  }
}
.footer .menu .menu-item a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Cormorant";
  font-size: 1.5em;
}
.footer .menu .menu-item a:after {
  content: "";
  position: absolute;
  bottom: -0.125em;
  left: 0;
  width: 100%;
  border-bottom: 0.0625em solid;
  border-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}
.footer .menu .menu-item:hover a {
  color: #F7866D;
}
.footer .menu .menu-item:hover a:after {
  border-color: rgba(247, 134, 109, 0.1);
}
.footer .menu .current-menu-item > a {
  color: #F7866D;
}
.footer .menu .current-menu-item > a:after {
  border-color: rgba(247, 134, 109, 0.1);
}
.footer .logo__link {
  display: block;
  width: 4.375em;
  height: 3.125em;
  font-size: 1.143em;
  margin: 0 auto 0.6em;
}
@media (min-width: 768px) {
  .footer .logo__link {
    margin: 0;
    font-size: 1em;
  }
}
.footer .logo__label {
  text-align: center;
  line-height: 0.8;
}
.footer .logo__label span {
  color: #ffffff;
  font-size: 0.625em;
}
.footer .social {
  flex-wrap: wrap;
  justify-content: center;
}
.footer .social__link {
  color: #ffffff;
}
.footer .social__link i:before {
  font-size: 1.125em;
}
.footer .social__link i.icon_telegram {
  color: #ffffff;
}
.footer .social__link i.icon_whatsapp {
  color: #ffffff;
}
.footer .social__link:last-child {
  margin-top: 0.75em;
  width: 100%;
}
@media (min-width: 768px) {
  .footer .social__link:last-child {
    margin-top: 0;
    width: auto;
  }
}
@media (max-width: 767px) {
  .footer .social__link:last-child .social__label {
    margin-right: 4em;
  }
}

.form {
  /* Для Chrome */
  /* Для Firefox */
}
.form__content {
  position: relative;
}
.form__row {
  margin-bottom: 0.625em;
}
.form__row:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form__row:last-child {
    margin-top: 0.9375em;
  }
}
.form__row .btn,
.form__row input:not([type]),
.form__row input[type=date],
.form__row input[type=email],
.form__row input[type=number],
.form__row input[type=password],
.form__row input[type=search],
.form__row input[type=tel],
.form__row input[type=text],
.form__row input[type=url],
.form__row textarea {
  width: 100%;
}
.form__row textarea {
  min-height: 6em;
  resize: vertical;
}
.form__text {
  line-height: 0.8;
}
@media (min-width: 768px) {
  .form__text {
    line-height: 1;
  }
}
.form__text span {
  font-size: 0.4375em;
  color: rgba(51, 51, 51, 0.5);
}
@media (min-width: 768px) {
  .form__text span {
    font-size: 0.625em;
  }
}
.form input:not([type]),
.form input[type=date],
.form input[type=email],
.form input[type=number],
.form input[type=password],
.form input[type=search],
.form input[type=tel],
.form input[type=text],
.form input[type=url],
.form textarea {
  background-color: #F3F2F1;
  border: 0.0625em solid;
  border-color: #F3F2F1;
  font-family: "Onest";
  color: #333333;
  outline: none;
  font-weight: 400;
  transition: 0.3s;
  font-size: 0.75em;
  padding: 1.75em 1.5em;
  border-radius: 5.26em;
}
@media (min-width: 768px) {
  .form input:not([type]),
.form input[type=date],
.form input[type=email],
.form input[type=number],
.form input[type=password],
.form input[type=search],
.form input[type=tel],
.form input[type=text],
.form input[type=url],
.form textarea {
    font-size: 1.1875em;
    padding: 1.685em 1.5em;
    border-radius: 5.26em;
  }
}
.form input:not([type]):hover,
.form input[type=date]:hover,
.form input[type=email]:hover,
.form input[type=number]:hover,
.form input[type=password]:hover,
.form input[type=search]:hover,
.form input[type=tel]:hover,
.form input[type=text]:hover,
.form input[type=url]:hover,
.form textarea:hover {
  background-color: transparent;
}
.form input:not([type]):focus,
.form input[type=date]:focus,
.form input[type=email]:focus,
.form input[type=number]:focus,
.form input[type=password]:focus,
.form input[type=search]:focus,
.form input[type=tel]:focus,
.form input[type=text]:focus,
.form input[type=url]:focus,
.form textarea:focus {
  background-color: transparent;
}
.form input:not([type]).invalid,
.form input[type=date].invalid,
.form input[type=email].invalid,
.form input[type=number].invalid,
.form input[type=password].invalid,
.form input[type=search].invalid,
.form input[type=tel].invalid,
.form input[type=text].invalid,
.form input[type=url].invalid,
.form textarea.invalid {
  background-color: transparent;
  border-color: #F7866D;
}
.form input:not([type])::-webkit-input-placeholder,
.form input[type=date]::-webkit-input-placeholder,
.form input[type=email]::-webkit-input-placeholder,
.form input[type=number]::-webkit-input-placeholder,
.form input[type=password]::-webkit-input-placeholder,
.form input[type=search]::-webkit-input-placeholder,
.form input[type=tel]::-webkit-input-placeholder,
.form input[type=text]::-webkit-input-placeholder,
.form input[type=url]::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder {
  color: #333333;
}
.form input:not([type]):-moz-placeholder,
.form input[type=date]:-moz-placeholder,
.form input[type=email]:-moz-placeholder,
.form input[type=number]:-moz-placeholder,
.form input[type=password]:-moz-placeholder,
.form input[type=search]:-moz-placeholder,
.form input[type=tel]:-moz-placeholder,
.form input[type=text]:-moz-placeholder,
.form input[type=url]:-moz-placeholder,
.form textarea:-moz-placeholder {
  color: #333333;
}
.form input:not([type])::-moz-placeholder,
.form input[type=date]::-moz-placeholder,
.form input[type=email]::-moz-placeholder,
.form input[type=number]::-moz-placeholder,
.form input[type=password]::-moz-placeholder,
.form input[type=search]::-moz-placeholder,
.form input[type=tel]::-moz-placeholder,
.form input[type=text]::-moz-placeholder,
.form input[type=url]::-moz-placeholder,
.form textarea::-moz-placeholder {
  color: #333333;
}
.form input:not([type]):-ms-input-placeholder,
.form input[type=date]:-ms-input-placeholder,
.form input[type=email]:-ms-input-placeholder,
.form input[type=number]:-ms-input-placeholder,
.form input[type=password]:-ms-input-placeholder,
.form input[type=search]:-ms-input-placeholder,
.form input[type=tel]:-ms-input-placeholder,
.form input[type=text]:-ms-input-placeholder,
.form input[type=url]:-ms-input-placeholder,
.form textarea:-ms-input-placeholder {
  color: #333333;
}
.form input[type=search]::-webkit-search-cancel-button,
.form input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
}
.form input[type=number]::-webkit-inner-spin-button,
.form input[type=number]::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.form input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.form input[type=checkbox],
.form input[type=radio] {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: none;
  height: 0.875em;
  /* 14/16 */
  width: 0.875em;
  /* 14/16 */
  color: #aaa;
  background: 0 0;
  border: 0.0625em solid;
  /* 1/16 */
  overflow: hidden;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  text-align: center;
  position: relative;
}
.form input[type=checkbox]:not(:disabled), .form input[type=checkbox]:not(:disabled),
.form input[type=radio]:not(:disabled),
.form input[type=radio]:not(:disabled) {
  cursor: pointer;
}
.form input[type=checkbox]:before, .form input[type=checkbox]:before,
.form input[type=radio]:before,
.form input[type=radio]:before {
  display: block;
}
.form input[type=checkbox]:disabled, .form input[type=checkbox]:disabled,
.form input[type=radio]:disabled,
.form input[type=radio]:disabled {
  color: #ddd;
}
.form input[type=radio] {
  border-radius: 50%;
}
.form input[type=radio]:checked:before {
  content: "";
  width: 0.375em;
  /* 6/16 */
  height: 0.375em;
  /* 6/16 */
  display: block;
  border-radius: 50%;
  background: #000;
}
.form input[type=radio]:disabled:checked:before {
  background-color: #aaa;
}
.form input[type=checkbox]:checked:before, .form input[type=checkbox]:indeterminate:before {
  content: "";
  width: 40%;
  height: 60%;
  color: #000;
  margin-top: -0.1875em;
  /* 3/16 */
  border-right: 0.0625em solid;
  /* 1/16 */
  border-bottom: 0.0625em solid;
  /* 1/16 */
  transform: rotate(45deg);
}
.form input[type=checkbox]:indeterminate:before {
  content: "";
}
.form input[type=checkbox]:disabled:checked:before, .form input[type=checkbox]:disabled:indeterminate:before {
  color: #aaa;
}

.select2-hidden-accessible {
  display: none;
}
.select2-search__field {
  display: none;
}
.select2-container span {
  display: block;
}
.form__row .select2-container {
  width: 100% !important;
}
.select2-container--open {
  z-index: 1050;
}
.select2-container--default .select2-results__options {
  list-style: none;
  padding: 0;
  margin: 0;
}
.select2-container--default .select2-results__option {
  padding: 0.971em 1.175em;
  cursor: pointer;
  color: rgba(29, 29, 27, 0.5);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: rgba(0, 110, 255, 0.19);
  color: rgba(29, 29, 27, 0.6);
}
.select2-container--default .select2-results__option--selected {
  background: rgba(0, 110, 255, 0.19);
  color: #333333;
}
.select2-container--default .select2-dropdown {
  position: absolute;
  background-color: #fff;
  border-radius: 0;
  margin-top: 0;
  border: 1px solid #DBDBDB;
  border-top: 0;
  box-shadow: 0 2.1875em 4.6875em rgba(128, 125, 125, 0.15);
}
.select2-container--default .select2-selection {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  font-family: "Onest";
  color: #333333;
  padding: 0.65em 1em;
  outline: none;
  font-weight: 400;
  border-radius: 0.3125em;
  transition: 0.3s;
  transition-property: color background border;
  width: 100%;
  height: auto;
  position: relative;
}
@media (min-width: 768px) {
  .select2-container--default .select2-selection {
    font-size: 1em;
  }
}
.select2-container--default .select2-selection:hover {
  border-color: #ddd;
  background-color: rgba(255, 255, 255, 0.1);
}
.select2-container--default .select2-selection:focus {
  border-color: #ddd;
  background-color: rgba(255, 255, 255, 0.1);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1;
  padding: 0 1em 0 0;
  color: #333333;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #ddd;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2.5em;
  padding-bottom: 0.3em;
}
.form__date .select2-container--default .select2-selection--single .select2-selection__arrow {
  padding-bottom: 0;
}
.form__date .select2-container--default .select2-selection--single .select2-selection__arrow:before {
  content: "";
  display: block;
  border: 0;
  width: 0.6em;
  height: 0.6em;
  border-right: 2px solid rgba(29, 29, 27, 0.5);
  border-bottom: 2px solid rgba(29, 29, 27, 0.5);
  transform: rotate(-135deg);
  margin-bottom: 0.5em;
}
.form__date .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0.5em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  left: auto;
  top: auto;
  margin: auto;
  border: 0;
  width: 0.6em;
  height: 0.6em;
  border-right: 2px solid rgba(29, 29, 27, 0.5);
  border-bottom: 2px solid rgba(29, 29, 27, 0.5);
  transform: rotate(45deg);
}
.select2-container--default.select2-container--open {
  z-index: 1050;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  padding-bottom: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: 0;
  width: 0.6em;
  height: 0.6em;
  border-right: 2px solid rgba(29, 29, 27, 0.5);
  border-bottom: 2px solid rgba(29, 29, 27, 0.5);
  transform: rotate(-135deg);
}
.form__date .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  transform: rotate(45deg);
}
.select2-container--default.select2-container--disabled .select2-selection {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  font-family: "Onest";
  color: #333333;
  padding: 0.971em 1.175em;
  outline: none;
  font-weight: 400;
  border-radius: 0;
  transition: 0.3s;
  transition-property: color background border;
  width: 100%;
  height: auto;
  position: relative;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background: #FFFFFF;
}
.select2-container--default.select2-container--disabled .select2-selection__rendered {
  color: rgba(29, 29, 27, 0.5);
}

.btn {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  font-family: "Onest";
  font-weight: 800;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #F7866D;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 0.6875em;
  padding: 2.128em 3em;
  border-radius: 9.1em;
}
@media (min-width: 768px) {
  .btn {
    font-size: 0.9375em;
    padding: 2.067em 3em;
    border-radius: 6.7em;
  }
}
@media (min-width: 768px) {
  .btn_lg {
    padding: 2.334em 3em;
  }
}
.btn:hover {
  background-color: #3EAF79;
}
.btn:active {
  background-color: #2CA26A;
}
.btn:disabled {
  background-color: #F3F2F1;
  cursor: not-allowed;
}
.btn_transparent {
  width: auto;
  max-width: 100%;
  font-size: 0.875em;
  font-weight: 500;
  text-transform: none;
  background-color: transparent;
  border: 0.0625em solid #F7866D;
  color: #F7866D;
  border-radius: 7.125em;
  padding: 1.473em 2.623em;
  letter-spacing: 0;
}
.btn_transparent:hover {
  color: #ffffff;
  background-color: #F7866D;
}
.btn_transparent:active {
  background-color: #f67255;
  color: #ffffff;
}
.btn_telegram, .btn_whatsapp {
  position: relative;
  width: auto;
  max-width: 100%;
  text-transform: none;
  background-color: transparent;
  font-size: 0.875em;
  font-weight: 500;
  border-radius: 7.125em;
  border: 0.0625em solid;
  letter-spacing: 0;
  padding: 1.473em 2.623em;
}
.btn_telegram:before, .btn_whatsapp:before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.85em;
  font-family: "icon";
  font-size: 1.75em;
}
.btn_telegram:hover, .btn_whatsapp:hover {
  color: #ffffff;
}
.btn_telegram {
  color: #34AEE4;
  border-color: #34AEE4;
  padding-left: 4.5em;
  padding-right: 2.79em;
}
.btn_telegram:before {
  content: "";
}
.btn_telegram:hover {
  background-color: #34AEE4;
}
.btn_telegram:active {
  background-color: #1ea5e1;
}
.btn_whatsapp {
  color: #46AC54;
  border-color: #46AC54;
  padding-left: 4.5em;
  padding-right: 2.27em;
}
.btn_whatsapp:before {
  content: "";
}
.btn_whatsapp:hover {
  background-color: #46AC54;
}
.btn_whatsapp:active {
  background-color: #3f9a4b;
}

.firstscreen {
  position: relative;
  padding-top: 29em;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .firstscreen {
    padding-top: 17em;
    padding-bottom: 21.5625em;
  }
}
@media (min-width: 768px) {
  .firstscreen .section__title {
    position: relative;
  }
  .firstscreen .section__title span {
    display: block;
  }
  .firstscreen .section__title span:first-child {
    text-align: right;
  }
}
.firstscreen .section__title small {
  display: block;
  width: 13.75em;
  font-family: "Onest";
  font-weight: 400;
  line-height: 1.2;
  text-transform: none;
  font-size: 0.875em;
  text-align: center;
  margin: 1.075em auto 0;
}
@media (min-width: 768px) {
  .firstscreen .section__title small {
    text-align: left;
    margin: 0;
    position: absolute;
    bottom: 0.625em;
    right: 0.0625em;
    font-size: 1.1875em;
  }
}
.firstscreen__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.5em;
  height: 38.125em;
}
@media (min-width: 768px) {
  .firstscreen__img {
    width: 120em;
    height: 74.375em;
  }
}
.firstscreen__content {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  margin: 0 -0.625em;
  padding: 2.1875em 1.875em 2.5em;
}
@media (min-width: 768px) {
  .firstscreen__content {
    padding: 4.375em 3.5em 3.4375em 2.5em;
    width: 38.125em;
    border-radius: 1.875em;
    box-shadow: 0 75px 150px rgba(51, 51, 51, 0.1);
  }
}
.firstscreen__btn {
  margin-top: 1.25em;
  padding: 0 1.25em;
}
@media (min-width: 768px) {
  .firstscreen__btn {
    margin-top: 1.5625em;
    padding: 0 0.4375em;
  }
}

@media (max-width: 767px) {
  .choose {
    padding-top: 0;
  }
}
.choose__caption {
  margin-bottom: 1.25em;
}
@media (min-width: 768px) {
  .choose__caption {
    margin-bottom: 1.5em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.choose__label {
  text-align: center;
  padding-top: 0.75em;
}
@media (min-width: 768px) {
  .choose__label {
    padding-top: 0;
    padding-bottom: 0.5em;
    text-align: right;
  }
}
.choose__label span {
  font-size: 0.875em;
}
@media (min-width: 768px) {
  .choose__label span {
    font-size: 1.1875em;
  }
}
.choose__content {
  background-color: #ffffff;
  padding: 2.5em 0.625em;
  margin: 0 -0.625em;
}
@media (min-width: 768px) {
  .choose__content {
    margin: 0;
    border-radius: 1.5625em;
    padding: 1.875em;
  }
}
@media (min-width: 768px) {
  .choose__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.9375em;
    grid-auto-rows: 9.375em;
  }
}
.choose__item {
  display: block;
  box-shadow: 0 0 15px rgba(51, 51, 51, 0.04);
  border-radius: 0.9375em;
  overflow: hidden;
}
@media (max-width: 767px) {
  .choose__item {
    height: 7.5em;
    margin-bottom: 0.625em;
  }
  .choose__item:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .choose__item {
    transform: translateY(0);
  }
  .choose__item:hover {
    transform: translateY(-0.25em);
  }
}

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-open {
  overflow: hidden;
}
.modal-close {
  position: absolute;
  text-decoration: none;
  right: 0.375em;
  top: -2em;
  color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .modal-close {
    right: 1.5625em;
    top: 1.5625em;
    color: rgba(32, 48, 64, 0.2);
  }
}
.modal-close:hover {
  color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 768px) {
  .modal-close:hover {
    color: rgba(32, 48, 64, 0.7);
  }
}
.modal-close i {
  font-size: 0.875em;
}
@media (min-width: 768px) {
  .modal-close i {
    font-size: 1.5625em;
  }
}
.modal.fade .modal-dialog {
  transform: translate(0, -25%);
  transition: transform 0.3s ease-out;
}
.modal.in {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.modal.in .modal-dialog {
  transform: translate(0, 0);
  position: relative;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: auto;
  width: 21.25em;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 41.875em;
  }
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  background-clip: padding-box;
  outline: 0;
  border-radius: 1.875em;
  text-align: center;
  padding: 2.5em 1em 2em;
}
@media (min-width: 768px) {
  .modal-content {
    padding: 4.0625em 2em 5.9375em;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #203040;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 1;
  filter: alpha(opacity=1);
}
.modal-title {
  font-family: "Cormorant";
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0.95;
  margin-bottom: 0.9375em;
}
@media (min-width: 768px) {
  .modal-title {
    margin-bottom: 2.1875em;
  }
}
.modal-title span {
  font-size: 1.5625em;
}
@media (min-width: 768px) {
  .modal-title span {
    font-size: 2.75em;
  }
}
.modal-subtitle {
  margin-bottom: 1.25em;
}
@media (min-width: 768px) {
  .modal-subtitle {
    margin-bottom: 2.1875em;
  }
}
.modal-subtitle span {
  font-size: 0.875em;
}
@media (min-width: 768px) {
  .modal-subtitle span {
    font-size: 1.1875em;
  }
}
.modal-body {
  position: relative;
  padding: 0;
}
.modal-project_title {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 30px 60px rgba(51, 51, 51, 0.1);
  border-radius: 1.5625em;
  margin: 0 auto;
  letter-spacing: 0.1em;
  line-height: 0.9;
  padding: 1.276em 1em 1.276em 2.5em;
  width: 18.75em;
  margin-bottom: 1.25em;
}
@media (min-width: 768px) {
  .modal-project_title {
    padding: 2.213em 1em 2.213em 4em;
    margin-bottom: 2.8125em;
    width: 31.25em;
  }
}
.modal-project_title:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25em;
  font-family: "icon";
  color: #3EAF79;
  font-size: 0.875em;
}
@media (min-width: 768px) {
  .modal-project_title:before {
    font-size: 1.375em;
  }
}
.modal-project_title span {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.6875em;
}
@media (min-width: 768px) {
  .modal-project_title span {
    font-size: 0.9375em;
  }
}
.modal .form__content {
  margin: 0 auto;
  width: 16.25em;
}
@media (min-width: 768px) {
  .modal .form__content {
    width: 23.75em;
  }
}

.policy .modal-dialog {
  margin-top: 3em;
  padding-bottom: 3em;
}
@media (min-width: 768px) {
  .policy .modal-dialog {
    width: 61.25em;
    /* 980/16 */
  }
}
.policy .modal-content {
  text-align: left;
  padding: 1.5625em 0.625em 1.25em 1.25em;
}
@media (min-width: 768px) {
  .policy .modal-content {
    padding: 4.0625em 4.0625em 4.375em 3.125em;
  }
}
@media (min-width: 768px) {
  .policy .modal-title {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .policy .modal-title span {
    font-size: 1.25em;
  }
}
.policy .modal-body p {
  font-size: 0.75em;
  /* 12/16 */
}
@media (min-width: 768px) {
  .policy .modal-body p {
    font-size: 1.1875em;
  }
}

.testButton__content {
  max-width: 31.25em;
}