@font-face {
  font-family: 'icon';
  src:  url('fonts/icon.eot?ymld8l');
  src:  url('fonts/icon.eot?ymld8l#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?ymld8l') format('truetype'),
    url('fonts/icon.woff?ymld8l') format('woff'),
    url('fonts/icon.svg?ymld8l#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_area:before {
  content: "\e900";
}
.icon_check:before {
  content: "\e901";
}
.icon_close:before {
  content: "\e902";
}
.icon_close_bold:before {
  content: "\e911";
}
.icon_home:before {
  content: "\e903";
}
.icon_location:before {
  content: "\e904";
}
.icon_plus:before {
  content: "\e905";
}
.icon_phone:before {
  content: "\e912";
}
.icon_telegram:before {
  content: "\e906";
}
.icon_whatsapp:before {
  content: "\e907";
}
.icon_ellipse:before {
  content: "\e90f";
}
.icon_arrow_left:before {
  content: "\e908";
}
.icon_arrow_right:before {
  content: "\e90a";
}
.icon_arrow_top:before {
  content: "\e909";
}
.icon_arrow_bottom:before {
  content: "\e90b";
}
.icon_arrow_left_sm:before {
  content: "\e90e";
}
.icon_arrow_right_sm:before {
  content: "\e90c";
}
.icon_arrow_top_sm:before {
  content: "\e910";
}
.icon_arrow_bottom_sm:before {
  content: "\e90d";
}
