$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_arrow_left_lg: "\e913";
$icon_arrow_right_lg: "\e914";
$icon_area: "\e900";
$icon_check: "\e901";
$icon_close: "\e902";
$icon_close_bold: "\e911";
$icon_home: "\e903";
$icon_location: "\e904";
$icon_plus: "\e905";
$icon_phone: "\e912";
$icon_telegram: "\e906";
$icon_whatsapp: "\e907";
$icon_ellipse: "\e90f";
$icon_arrow_left: "\e908";
$icon_arrow_right: "\e90a";
$icon_arrow_top: "\e909";
$icon_arrow_bottom: "\e90b";
$icon_arrow_left_sm: "\e90e";
$icon_arrow_right_sm: "\e90c";
$icon_arrow_top_sm: "\e910";
$icon_arrow_bottom_sm: "\e90d";

