.choose {
    padding-bottom: 7.1875em;

    @media (max-width: 500px) {
        padding-top: 0;
        padding-bottom: 0;
    }

    &__caption {
        margin-bottom: 1.25em;
        @media (min-width: 501px) {
            margin-bottom: 1.5em;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__label {
        text-align: center;
        padding-top: 0.75em;
        @media (min-width: 501px) {
            padding-top: 0;
            padding-bottom: 0.5em;
            text-align: right;

        }

        span {
            font-size: 0.875em;
            @media (min-width: 501px) {
                font-size: 1.1875em;

            }

        }
    }

    &__content {
        background-color: $color_white;
        padding: 2.5em 0.625em;
        margin: 0 -0.625em;
        @media (min-width: 501px) {
            margin: 0;
            border-radius: 1.5625em;
            padding: 1.875em;

        }
    }

    &__grid {

        @media (min-width: 501px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0.9375em;
            grid-auto-rows: 9.375em;
        }
    }

    &__item {
        display: block;
        box-shadow: 0 0 15px rgba($main_color, 0.04);
        border-radius: 0.9375em;
        overflow: hidden;

        @media (max-width: 500px) {
            height: 7.5em;
            margin-bottom: 0.625em;

            &:last-child {
                margin-bottom: 0;
            }

        }

        @media (min-width: 501px) {
            transform: translateY(0);

            &:hover {
                transform: translateY(-0.25em);

            }
        }

    }

}
