.notfound {
    text-align: center;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        font-size: 1em;
        margin: 0;
        line-height: 0.8;

        span {
            font-weight: 200;

            font-size: 8em;
            @media (min-width: 501px) {
                font-size: 14.25em;

            }
        }

    }

    &__content {
        margin: 0.75em 0 3em;
        @media (min-width: 501px) {
            margin: 2em 0 4em;
        }

        span {
            font-size: 0.875em;
            @media (min-width: 501px) {
                font-size: 1.1875em;
            }
        }
    }

    &__btn {
        .btn {
            width: 23.637em;
            @media (min-width: 501px) {
                width: 25.334em;

            }

        }
    }

}
