.partners {
    background-color: $color_white;

    &__bg {
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        width: 18.75em;
        height: 13.875em;
        background-image: url("../img/partners_bg_m.webp");
        @media (min-width: 501px) {
            width: 73.75em;
            height: 9.6875em;
            background-image: url("../img/partners_bg.webp");

        }

    }

}
