/* Global variables */
/* ======================================================================== */
$main_font_family: "Onest";
$second_font_family: "Cormorant";
$italic_font_family: "Vasek";

$main_color: #333333;
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 86.375em;
/* 1382/16 */

$footer_height: auto;

// Color collection for elements
$color_primary: #F3F2F1;
$color_success: #3EAF79;
$color_danger: #F7866D;
$color_info: #203040;

$color_whatsapp: #46AC54;
$color_telegram: #34AEE4;

$color_white: #ffffff;
$color_black: #000000;

$color_warning: #fca33e;
$input_color: $main_color;