// Style for button and pseudo button for input and link

.btn {
	display: inline-block;
	width: 100%;

	color: $color_white;
	font-family: $main_font_family;
	font-weight: 800;

	border: none;
	outline: none;
	text-decoration: none;
	background-color: $color_danger;
	text-align: center;
	cursor: pointer;

	letter-spacing: 0.1em;
	text-transform: uppercase;

	transition: 0.3s;

	font-size: 0.6875em;
	padding: 2.128em 3em;
	border-radius: 9.1em;

	@media (min-width: 768px) {
		font-size: 0.9375em;
		padding: 2.067em 3em;
		border-radius: 6.7em;
	}

	&_lg {
		@media (min-width: 768px) {
			padding: 2.334em 3em;
		}
	}

	&:hover {
		background-color: $color_success;
	}

	&:active {
		background-color: #2CA26A;
	}

	&:disabled {
		background-color: $color_primary;
		cursor: not-allowed;
		// pointer-events: none;
	}

	&_transparent {
		width: auto;
		max-width: 100%;
		font-weight: 500;
		text-transform: none;
		background-color: transparent;
		border: 0.0625em solid $color_danger;
		color: $color_danger;
		border-radius: 7.125em;
		letter-spacing: 0;

		font-size: 0.625em;
		padding: 1em 5.5em;
		@media (min-width: 768px) {
			font-size: 0.875em;
			padding: 1.473em 2.623em;

		}

		&:hover {
			color: $color_white;
			background-color: $color_danger;

		}

		&:active {
			background-color: darken($color_danger, 5%);
			color: $color_white;

		}
	}

	&_telegram,
	&_whatsapp {
		position: relative;
		width: auto;
		max-width: 100%;
		text-transform: none;
		background-color: transparent;
		font-size: 0.875em;
		font-weight: 500;
		border-radius: 7.125em;
		border: 0.0625em solid;
		letter-spacing: 0;
		padding: 1.473em 2.623em;

		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0.85em;
			font-family: 'icon';
			font-size: 1.75em;
		}

		&:hover {
			color: $color_white;
		}
	}

	&_telegram {
		color: $color_telegram;
		border-color: $color_telegram;
		padding-left: 4.5em;
		padding-right: 2.79em;

		&:before {
			content: '\e906';
		}

		&:hover {
			background-color: $color_telegram;
		}

		&:active {
			background-color: darken($color_telegram, 5%);
		}

	}

	&_whatsapp {
		color: $color_whatsapp;
		border-color: $color_whatsapp;
		padding-left: 4.5em;
		padding-right: 2.27em;

		&:before {
			content: '\e907';
		}

		&:hover {
			background-color: $color_whatsapp;
		}

		&:active {
			background-color: darken($color_whatsapp, 5%);
		}
	}

}
