.form {
	&__content {
		position: relative;
	}

	&__row {
		margin-bottom: 0.625em;

		&:last-child {
			margin-bottom: 0;
			@media (min-width: 768px) {
				margin-top: 0.9375em;
			}
		}

		.btn,
		input:not([type]),
		input[type=date],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			min-height: 6em;
			resize: vertical;
		}

	}

	&__text {
		line-height: 0.8;
		@media (min-width: 768px) {
			line-height: 1;

		}

		span {
			font-size: 0.4375em;
			color: rgba($main_color, 0.5);
			@media (min-width: 768px) {
				font-size: 0.625em;
			}
		}
	}

	// Input text and textarea ================================================
	input:not([type]),
	input[type=date],
	input[type=email],
	input[type=number],
	input[type=password],
	input[type=search],
	input[type=tel],
	input[type=text],
	input[type=url],
	textarea {
		background-color: $color_primary;
		border: 0.0625em solid;
		border-color: $color_primary;
		font-family: $main_font_family;
		color: $main_color;
		outline: none;
		font-weight: 400;
		transition: 0.3s;

		font-size: 0.75em;
		padding: 1.75em 1.5em;
		border-radius: 5.26em;
		@media (min-width: 768px) {
			font-size: 1.1875em;
			padding: 1.685em 1.5em;
			border-radius: 5.26em;

		}

		&:hover {
			background-color: transparent;
		}

		&:focus {
			background-color: transparent;
		}

		&.invalid {
			background-color: transparent;
			border-color: $color_danger;

		}
		// Placeholder for input +++++++++++++++
		@include placeholder {
			color: $main_color;
		}
	}

	input[type=search]::-webkit-search-cancel-button,
	input[type=search]::-webkit-search-decoration {
		appearance: none;
	}

	/* Для Chrome */
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		height: auto;
		appearance: none;
		margin: 0;
	}
	/* Для Firefox */
	input[type=number] {
		appearance: textfield;
	}

}
