// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	font-size: calc(.04444445 * 100vw + 0px);
	background-color: $color_primary;

	@media (min-width: 501px) {
		font-size: calc(.008333334 * 100vw + 0px);
	}

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
}

.container_center {
	max-width: $container_width;
	margin-left: auto;
	margin-right: auto;

	padding: 0 0.625em;
	@media (min-width: 501px) {
		padding: 0 1em;

	}

	&_sm {
		@media (min-width: 501px) {
			max-width: 74.5em;
		}
	}
}

.section {
	padding: 2em 0;
	@media (min-width: 501px) {
		padding: 5em 0 7.5em;
	}

	&__title {
		font-family: $second_font_family;
		font-weight: 300;
		font-size: 1em;
		text-transform: uppercase;
		line-height: 0.95;
		text-align: center;
		margin: 0;
		font-feature-settings: 'pnum' on, 'lnum' on;
		@media (min-width: 501px) {
			text-align: left;
		}

		span {
			font-size: 1.875em;
			@media (min-width: 501px) {
				font-size: 4.625em;

			}
		}

		&_sm {
			span {
				@media (min-width: 501px) {
					font-size: 3.375em;
				}
			}
		}
	}
}

.desktop {
	@media (max-width: 500px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 501px) {
		display: none !important;
	}
}

.img {
	img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.hint {
	position: absolute;

	&__content {
		position: relative;
		background-color: $color_white;
		padding: 1.0625em 2.1875em 1.0625em 1.875em;
		border-radius: 0.375em;
		width: 8em;
		line-height: 0.8;
		@media (min-width: 501px) {
			line-height: 1.15;
			width: 12.5em;

		}

		span {
			font-size: 0.625em;
			@media (min-width: 501px) {
				font-size: 0.875em;

			}
		}

		&:before {
			position: absolute;
			top: 0;
			left: -0.8125em;
			content: '';
			display: block;
			width: 1.25em;
			height: 1.25em;

			background-image: url("../img/triangle.webp");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
