// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	// display: flex;
	// flex-direction: column;
	font-size: calc(.04444445 * 100vw + 0px);
	// height: auto;
	// min-height: 100%;
	// color: $color_withe;

	background-color: $color_primary;

	// font-size: calc(.034 * 100vw + 0px);

	@media (min-width: 768px) {
		font-size: calc(.008333334 * 100vw + 0px);
	}

	@media (min-width: 1200px) {
		// font-size: calc(.00838 * 100vw + 0px);
	}

	// @media (min-width: 1600px) {
	// 	font-size: $main_font_size;
	// }

}
//
// @media (max-width: 500px) {
// }
// @media (min-width: 501px) {
// }

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
}

.container_center {
	max-width: $container_width;
	margin-left: auto;
	margin-right: auto;

	padding: 0 0.625em;
	@media (min-width: 768px) {
		padding: 0 1em;

	}
}

.section {
	padding: 5em 0 7.5em;

	&__title {
		font-family: $second_font_family;
		font-weight: 300;
		font-size: 1em;
		text-transform: uppercase;
		line-height: 0.95;
		text-align: center;
		margin: 0;
		font-feature-settings: 'pnum' on, 'lnum' on;
		@media (min-width: 768px) {
			text-align: left;
		}

		span {
			font-size: 1.875em;
			@media (min-width: 768px) {
				font-size: 4.625em;

			}
		}

		&_sm {
			span {
				@media (min-width: 768px) {
					font-size: 3.375em;
				}
			}
		}
	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.img {
	img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.hint {
	position: absolute;

	&__content {
		position: relative;
		background-color: $color_white;
		width: 12.5em;
		padding: 1.0625em 2.1875em 1.0625em 1.875em;
		line-height: 1.15;
		border-radius: 0.375em;

		span {
			font-size: 0.875em;
		}

		&:before {
			position: absolute;
			top: 0;
			left: -0.8125em;
			content: '';
			display: block;
			width: 1.25em;
			height: 1.25em;

			background-image: url("../img/triangle.webp");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

		}

	}

}
