// Main wrappers =====================================

body {
	font-family: $main_font_family;
	color: $main_color;
	line-height: $main_line_height;
	// display: flex;
	// flex-direction: column;
	font-size: calc(.04444445 * 100vw + 0px);
	// height: auto;
	// min-height: 100%;
	// color: $color_withe;

	background-color: $color_primary;

	// font-size: calc(.034 * 100vw + 0px);

	@media (min-width: 768px) {
		font-size: calc(.008333334 * 100vw + 0px);
	}

	@media (min-width: 1200px) {
		// font-size: calc(.00838 * 100vw + 0px);
	}

	// @media (min-width: 1600px) {
	// 	font-size: $main_font_size;
	// }

}
//
// @media (max-width: 500px) {
// }
// @media (min-width: 501px) {
// }

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;
}

.container_center {
	max-width: $container_width;
	margin-left: auto;
	margin-right: auto;

	padding: 0 0.625em;
	@media (min-width: 768px) {
		padding: 0 1em;

	}
}

.section {
	padding: 2em 0;

	&__title {
		font-family: $second_font_family;
		font-weight: 400;
	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.img {
	img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
