extends ../layout/layout.pug

block variable
    -var path = '../';



block content

    // begin breadcrumbs
    .breadcrumbs.section.desktop
        .container_center
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Главная

                span.kb_sep

                span
                    a(href="#")
                        span Блог

                span.kb_sep

                span.kb_title Одна запись

    // end breadcrumbs

    // begin content
    section#content.content.section
        .container_center.container_center_sm
            .content__wrap
                h1.content__title
                    span Почему формат вилл и таунхаусов становится более популярен?
                .content__content
                    p Элитная недвижимость в Дубаи — это возможность приобрести действительно эксклюзивное жилье, которое станет настоящим украшением вашего дома или офиса. Вы сможете любоваться видами на море, находясь при этом в тишине и покое. Находясь в центре Дубая, вы имеете доступ ко всем необходимым для комфортной жизни услугам, включая рестораны, магазины и многое другое.

                    p Все элитные дома в Дубае отличаются безупречным качеством, а также высоким уровнем комфорта.

                    .content__img.img
                        a(href="../img/single.jpg" data-fancybox data-type="image")
                            img(src="../img/single.jpg" loading="lazy" alt="img")

                    p Элитная недвижимость в Дубаи — это возможность приобрести действительно эксклюзивное жилье, которое станет настоящим украшением вашего дома или офиса. Вы сможете любоваться видами на море, находясь при этом в тишине и покое. Находясь в центре Дубая, вы имеете доступ ко всем необходимым для комфортной жизни услугам, включая рестораны, магазины и многое другое.

                    p Все элитные дома в Дубае отличаются безупречным качеством, а также высоким уровнем комфорта.

                .content__manager
                    .manager
                        .manager__img.img
                            img(src="../img/manager.webp", alt="alt")
                        .manager__info
                            i Анна
                            span эксперт недвижимости<br> в Дубае




    // end content
