header.header
    .header__content
        .header__row

            .header__col
                .logo
                    a.logo__link.img(href="/")
                        img(src="/img/logo.png", alt="alt")

                    .logo__label.desktop
                        .logo__flag.img
                            img(src="../img/UAE.png", alt="alt")
                        span Главный портал по виллам в Дубае

            .header__col
                .social
                    a.social__link(href="tel:+ 971 4 528 2833")
                        i.icon_phone.mobile
                        .social__number.desktop 
                            span + 971 4 528 2833
                        .social__label.desktop 
                            span бесплатная консультация эксперта

                    a.social__link(href="#")
                        i.icon_telegram

                    a.social__link(href="#")
                        i.icon_whatsapp

            .header__col.desktop 
                .switch
                    label.switch__label
                        input(type="checkbox" id="languageCheckbox" name="languageCheckbox")
                        span
                            i

            .header__col
                .hamburger
                    .hamburger__icon

    .header__nav
        .logo.mobile
            a.logo__link(href="/")
                img(src="/img/logo.png", alt="alt")

        nav.navbar
            ul.menu
                li.menu-item.current-menu-item
                    a(href="#") Главная
                li.menu-item.scroll_js
                    a(href="#apartments") Готовые подборки проектов
                li.menu-item
                    a(href="#") Подбор виллы / таунхауса
                li.menu-item
                    a(href="#") Полный каталог проектов
                li.menu-item
                    a(href="#") Блог

        .social.mobile
            a.social__link(href="#")
                i.icon_telegram

            a.social__link(href="#")
                i.icon_whatsapp

            a.social__link(href="#")
                .social__number 
                    span + 971 4 528 2833
                .social__label 
                    span бесплатная консультация эксперта
