extends layout/layout.pug

block content
    // begin first
    section#first.first.section
        .container_center
            h2.section__title first section title
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

            p
                i.icon-home
                i.icon-clock2
                i.icon-calendar
                i.icon-printer
    // end first





    // begin programsInfo
    section.section
        .container_center
            .programsInfo
                each item in [{num: '12', text: 'Программ'},{num: '25', text: 'Компетенций'},{num: '29', text: 'Преподавателей <br>и экспертов'}]
                    .programsInfo__item
                        .programsInfo__number=item.num
                        .programsInfo__text!=item.text


    // end programsInfo
