extends layout/layout.pug

block content

    //- // begin programsInfo
    //- section.section
    //-     .container_center
    //-         .programsInfo
    //-             each item in [{num: '12', text: 'Программ'},{num: '25', text: 'Компетенций'},{num: '29', text: 'Преподавателей <br>и экспертов'}]
    //-                 .programsInfo__item
    //-                     .programsInfo__number=item.num
    //-                     .programsInfo__text!=item.text
    //- 
    //- 
    //- // end programsInfo
